.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  max-width: 500px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-top {
  padding-bottom: 20px;
  align-self: flex-start;
}

.content-alert-error {
  padding: 10px;
}

.container-breadcrumb {
  min-height: 30px;
  padding: 20px;
  max-width: 500px;
}
